---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import StarIcon from "@icons/StarIcon.astro";

interface Props {
  key: string;
  preview: string;
  title: string;
  projectType: string;
  isFeatured?: boolean;
  summary: string;
}
const { preview, title, key, projectType, isFeatured, summary } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/projects/**"
);
---

<a
  href=`/projects/${projectType}/${key}`
  class="flex-none w-full md:w-[40%] lg:w-[33%] bg-neutral-200 group text-dark relative text-center shadow-card shadow-neutral-800 group"
>
  <p class="uppercase tracking-widest text-gray-600 font-semibold">{title}</p>

  <div class="relative">
    <div
      class="w-full absolute top-0 z-10 grid place-items-center h-0 group-hover:h-full transition-all duration-500 project-summary"
    >
      <div class="w-full h-full absolute z-0 bg-black opacity-80"></div>
      <p
        class="text-white relative z-20 text-center opacity-0 group-hover:opacity-100 transition-all duration-500 m-8"
      >
        {summary}
      </p>
    </div>

    {
      isFeatured && (
        <span class="absolute z-20 top-1 right-1 w-8 h-8 md:w-7 md:h-7 shadow-dark drop-shadow-lg">
          <StarIcon />
        </span>
      )
    }
    <Image src={images[preview]()} alt=`${title} preview` />
    <div
      aria-hidden="true"
      class="w-full h-full shadow-inner absolute top-0 left-0"
    >
    </div>
  </div>
</a>
